services:

  sim:
    image: ghcr.io/andrewrutherfoord/ammc:latest
    build:
      context: .
    container_name: sim
    command: >
      ./linux_x86-64/ammc-sim
      -m 10.10.0.2
      -d ${SIM_PASSING_DELAY:-1000-3000}
      --decoder-id ${SIM_DECODER_ID:-0A87E5}
      --hits ${SIM_HITS:-100}
      --passing-numbers ${SIM_PASSING_NUMBERS:-1-3000}
      --strength ${SIM_STRENGTH:-300}
      --transponder ${SIM_TRANSPONDER:-12345,23456,4554444}
      -x ${SIM_STARTUP_DELAY:-0}
      -y ${SIM_SHUTDOWN_DELAY:-0}
    networks:
      sharednet:
        ipv4_address: 10.10.0.2

  decoder:
    image: ghcr.io/andrewrutherfoord/ammc:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${DECODER_EXPOSE_PORT:-9000}:9000"
    container_name: decoder
    # By default just runs with websocket enabled. No DB connection.
    command: >
      ./linux_x86-64/ammc-amb
      10.10.0.2 
      -v -w 9000
    depends_on:
      sim:
        condition: service_started
    networks:
      sharednet:
        ipv4_address: 10.10.0.3

networks:
  sharednet:
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.0.0/16